/* Base styles */
.nav {
  width: 100%;
  background: rgb(31, 28, 28);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
}

.container_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}

.logo a {
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 20px;
  transition: ease-in .4s;
}

.menu a {
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.menu a:hover {
  background: #333;
  color: #fff;
}

.menu .login-btn {
  color: white;
  background-color: #fd846c;
  padding: 7px 14px;
  border-radius: 14px;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search button {
  padding: 7px;
  border: none;
  background: #333;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#menu-bar {
  display: none;
  transition: ease-in .4s;
}

.menu-icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
  transition: ease-in .4s;
}

/* Responsive styles */
@media (max-width: 991px) {
  .container_menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }

  .menu {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    gap: 0;
    transition: max-height 2s ease-in-out;
  }

  .menu a {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }

  .search {
    width: 100%;
    margin-top: 10px;
  }

  #menu-bar:checked ~ .menu {
    max-height: 500px; /* Ajuste este valor conforme o conteúdo do menu */
  }

  .menu-icon {
    display: block;
    color: white;
    position: absolute;
    right: 20px;
  }
}
