<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple responsive owl carousel</title>
	<link rel="stylesheet" type="text/css" href="catalogo.css">
</head>
<body>
	<div class="main">
		<div class="text">
			<h1>Simple Single carousel</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non atque adipisci est, recusandae aperiam, ullam minima quos nostrum animi voluptas sequi. At repellendus fuga reiciendis accusantium, dolor suscipit repellat?
			</p>
		</div>
		<header>
			<h1>Top Hottest Products</h1>
			<p>
				<span>&#139;</span>
				<span>&#155;</span>
			</p>
		</header>
		<section>
			<div class="product">
				<picture>
					<img src="teste9.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product One</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste8.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Two</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste6-removebg-preview.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Three</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste5-removebg-preview.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Four</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste4-removebg-preview.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Five</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste3-removebg-preview.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Six</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste2-removebg-preview.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Seven</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste1-removebg-preview.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Eight</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste9.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Nine</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste2-removebg-preview.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Ten</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste6-removebg-preview.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Eleven</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
			<div class="product">
				<picture>
					<img src="teste4-removebg-preview.png" alt="">
				</picture>
				<div class="detail">
					<p>
						<b>Product Twelve</b><br>
						<small>New arrival</small>
					</p>
					<samp>$45.00</samp>
				</div>
				<div class="button">
					<p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
					<a href="#">Add-cart</a>
				</div>
			</div>
		</section>
	</div>

</body>
</html>
<script type="text/javascript" src="catalogo.js"></script>