.filters_dropdown{
    position: relative;
    display: inline-block;
}


.filters_btn{
    color: rgb(196, 25, 25);
}

.dropdown_options{
    position: absolute;
    min-width: 165px;
    z-index: 1;
    display: none;
}

.dropdown_options a{
    color: black;
    display: block;
}

.show{
    display: block;
}


