<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


            <!--MENU-->
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
            <link rel="stylesheet" href="menu.css">
            <link rel="shortcut icon" href="Crocs_ico.ico" type="image / x-icon">
</head>
<body>
    <!-- MENU-->
    <nav>
        <div class="wrapper">
            <div class="logo">
                <a href="#">
                   <!-- <span style="color:rgb(125, 82, 3);">Cg_</span><span style="color:rgb(19, 51, 177) ;">Business</span>--->
                   <img src="logo-1.png" alt="">
                </a>
            
            </div>
            <input type="radio" name="slide" id="menu-btn">
            <input type="radio" name="slide" id="cancel-btn">
            <ul class="nav-links">
                <!--<label for="" class="btn cancel-btn"><i class="fas fa-times"></i></label>-->
                <label for="cancel-btn" class="btn cancel-btn"><i class='bx bx-x'></i></label>
                <li><a href="index.html" class="active">Home</a></li>
                <li>
                    <a href="" class="desktop-item">New Arrival</a>
                    <input type="checkbox" id="showDrop">
                    <label for="showDrop" class="mobile-item">New Arrival</label>
                    <ul class="drop-menu">
                        <li><a href="Sobre_Nos.html">Men</a></li>
                        <li><a href="">Women</a></li>
                        <li><a href="">Kids</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="desktop-item">Categories</a>
                    <input type="checkbox" id="showMega">
                    <label for="showMega" class="mobile-item">Produtos +</label> 
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <a href="">Croc´s </a>
                                <img src="Logo-Crocs.jpg" alt="">
                            </div>
                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="">All in Ones</a></li>
                                    <li><a href="">Cameras de Vigilancia</a></li>
                                    <li><a href="ecommerce/computador/computador.html">Computadores</a></li>
                                    <li><a href="">Ups</a></li>
                                    <li><a href="">Pastas</a></li>
                                </ul>
                            </div>
                            
                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                        <li><a href="">Estabilizadores</a></li>
                                        <li><a href="">Servidores</a></li>
                                        <li><a href="">Consolas de jogo</a></li>
                                        <li><a href="">Celulares</a></li>
                                        <li><a href="">Acessorios</a></li>
                                </ul>
                            </div>
                            
                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="">Tablets</a></li>
                                    <li><a href="">POS AIO</a></li>
                                    <li><a href="">Scanners</a></li>
                                    <li><a href="">Caixas de Dinheiro</a></li>
                                    <li><a href="">Entre Outros</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="contacte-nos/contacte.html">Contact us</a></li>
            </ul>
           <!-- <label for="" class="menu-btn"><i class="fas fa-bars"></i></label>-->

            <label for="menu-btn" class="btn menu-btn"><i class='bx bx-menu' ></i></label>
        </div>
    </nav>
</body>
</html>