<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Croc´s Mozambique</title>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">


    <!--MENU-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" href="menu.css">

    <!--LOGO NO NAVEGADOR-->
    <link rel="shortcut icon" href="Crocs_ico.ico" type="image / x-icon">

    <!---FOOTER-->
    <link rel="stylesheet" href="footer.css">

    <!---Slide Popular Collections-->
    <link rel="stylesheet" href="slide.css">
   
    <!---Catalogo 1-->
    <link rel="stylesheet" href="catalogo.css">
    <script src="catalogo.js"></script>

    <!--ESTILO GERAL-->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- MENU-->
    <nav>
        <div class="wrapper">
            <div class="logo">
                <a href="Home.html">
                    <span
                        style="color:rgb(0, 0, 0);  font-weight: bold; font-size: 25pt;">Crocs<sup style="font-size: 0.5rem;">TM</sup></span>
                    <img src="logo-1.png" alt="">
                </a>
            </div>

            <div class="Componentes_2">

                <input type="search" class="btn_pesquisa" placeholder="Search" style="margin: 5px;">
                <a href="login.html"><input type="button" class="btn_login" value="Login" style="margin: 5px;"></a>
            </div>


            <input type="radio" name="slide" id="menu-btn">
            <input type="radio" name="slide" id="cancel-btn">
            <ul class="nav-links">
                <label for="cancel-btn" class="btn cancel-btn"><i class='bx bx-x' name=""></i></label>
                <li><a href="Home.html" class="active">Home</a></li>
                <li>
                    <a href="" class="desktop-item">Novo</a>
                    <input type="checkbox" id="showDrop">
                    
                    <label for="showDrop" class="mobile-item">Novo</label>
                    <ul class="drop-menu">
                        <li><a href="Sobre_Nos.html">Homem</a></li>
                        <li><a href="">Mulher</a></li>
                        <li><a href="">Crianças</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="desktop-item">Homem</a>
                    <input type="checkbox" id="showMega">

                    <label for="showMega" class="mobile-item">Produtos +</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="crocs_logo.webp" alt="">
                            </div>
                            <div class="row">
                                <header>Por Tendência</header>
                                <ul class="mega-links">
                                    <li><a href="">Novos clássicos</a></li>
                                    <li><a href="">Impressão camuflada</a></li>
                                    <li><a href="ecommerce/computador/computador.html">Equipes esportivas</a></li>
                                    <li><a href="">Aventuras ao ar livre</a></li>
                                    <li><a href="">Recuperação</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header>Clássicos</header>
                                <ul class="mega-links">
                                    <li><a href="">Jibbitz</a></li>
                                    <li><a href="">Grande</a></li>
                                    <li><a href="">Alto (14+)</a></li>
                                    <li><a href="">Tênis</a></li>
                                    <li><a href="">Botas</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                   <img src="pose3.webp" alt="">
                                   <button>Ver Oferta</button>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <!---------------------------------------------------------->
                <li>
                    <a href="" class="desktop-item">Mulher</a>
                    <input type="checkbox" id="showMega">

                    <label for="showMega" class="mobile-item">Testes</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="crocs_logo.webp" alt="">
                            </div>
                            <div class="row">
                                <header>Estilo</header>
                                <ul class="mega-links">
                                 
                                    <li><a href="">Tamancos</a></li>
                                    <li><a href="">Sandálias</a></li>
                                    <li><a href="">Sandálias de dedo</a></li>
                                    <li><a href="">Plataforma e Cunhas</a></li>
                                    <li><a href="">Apartamentos</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <a href=""><img src="pose1.webp" alt=""></a>
                                    
                                   <button>Ver Oferta</button>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <a href=""><img src="pose2.webp" alt=""></a>
                                    <button>Ver Oferta</button>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li> 

                <li><a href="loja.html">Loja</a></li>

                
               

                <!-- Mover para dentro da ul -->
                <div class="Componentes">
                    <a href=""><input type="button" class="btn_carrinho"></a>
                    <a href=""><input type="button" class="btn_favorito"></a>
                    <a href="login.html"><input type="button" class="btn_login" value="Login"></a>
                    <input type="search" class="btn_pesquisa" placeholder="Search">
                </div>
                <!-- Mover para dentro da ul -->
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class='bx bx-menu'></i></label>
        </div>
    </nav>


<main>
    <article>
        <!--SECCAO 1-->
        <div class="Container">
            <div class="home-container">
               <h2>Crocs Mozambique</h2>
               <p>Novos modelos, com os últimos crocs.  <br>Mais confortáveis do que nunca </p>
               <button id="shop_now">Comprar</button>
            </div>

            <div class="home-container-img">
            
            </div>
        </div>
        
        <!--SECCAO 2-->
        <div class="Advantages-Container">
            <div class="Discount"><img src="coupon.png" alt=""><p>Descontos todas semanas</p></div>
            <div><img src="online-support.png" alt=""><p>Suporte 24/7 dias</p></div>
            <div><img src="delivery.png" alt=""><p>Entrega ao domicílio</p></div>
            <div><img src="credit-card.png" alt=""><p>Pagamento seguro</p></div>
        </div>

        <!--SECCAO 3-->
        <div class="Container_2">
            <div class="Container-content">
                <p>A nova marca</p>
                <h2>Super Mega Promoção</h2>
                <p>Novos modelos que estão com uma super mega promoção. Aproveite agora mesmo, pois, essa promoção vai terminar a qualquer momento. Compre uma vez, e não se arrependa.</p>
            </div>

            <div class="Container-promocional">
                <div>
                    <h1 style="font-size: 40pt; color: rgb(75, 134, 34);">25%</h1>
                    <p style="color: rgb(66, 67, 68); line-height: 1.3;">Oferta especial. Obtenha desconto em qualquer pedido, apenas valido por hoje.</p>
                </div>
                <div><img src="gif.gif" alt=""></div>
            </div>
        </div>

        <!--Popular Collections-->

        <section class="carrosel_1">
            
            <div class="slider">
                <h3 style="margin-bottom: 5px;">Coleções Populares</h2>
                <div class="slide-track">
                    <div class="slide">
                        <img src="col1.avif" alt="">
                        <p>Star Wars</p>
                    </div>
                    <div class="slide">
                        <img src="col2.avif" alt="">
                        <p>Pringles</p>
                    </div>
                    <div class="slide">
                        <img src="col3.avif" alt="">
                        <p>Stitch</p>
                    </div>
                    <div class="slide">
                        <img src="col4.avif" alt="">
                        <p>Disney</p>
                    </div>
                    <div class="slide">
                        <img src="col5.avif" alt="">
                        <p>Hello Kit</p>
                    </div>
                    <div class="slide">
                        <img src="col6.avif" alt="">
                        <p>Kung Fu Panda</p>
                    </div>
                    <!--- as mesmas imagens-->
                    <div class="slide">
                        <img src="col1.avif" alt="">
                        <p>Star Wars</p>
                    </div>
                    <div class="slide">
                        <img src="col2.avif" alt="">
                        <p>Pringles</p>
                    </div>
                    <div class="slide">
                        <img src="col3.avif" alt="">
                        <p>Stitch</p>
                    </div>
                    <div class="slide">
                        <img src="col4.avif" alt="">
                        <p>Disney</p>
                    </div>
                    <div class="slide">
                        <img src="col5.avif" alt="">
                        <p>Hello Kit</p>
                    </div>
                    <div class="slide">
                        <img src="col6.avif" alt="">
                        <p>Kung Fu Panda</p>
                    </div>
            
                </div>
            </div>
        </section>



        <!--SHOP CONTENT-->
        <div class="heading">
            <h2>Novas<span>Tendência</span></h2>
        </div>

        <div  class="shop-container">
            <div class="box">
                <img src="teste3-removebg-preview.png" alt="">
                <h2>Nike Therma</h2>
                <span>70.88$</span>
                <button>Sandals</button>
            </div>

            <div class="box">
                <img src="teste4-removebg-preview.png" alt="">
                <h2>Nike Therma</h2>
                <span>70.88$</span>               <button>Classics</button>
            </div>

            <div class="box">
                <img src="teste5-removebg-preview.png" alt="">
                <h2>Nike Therma</h2>
                <span>70.88$</span>
                <button>Sneakers</button>
            </div>

            <div class="box">
                <img src="teste6-removebg-preview.png" alt="">
                <h2>Nike Therma</h2>
                <span>70.88$</span>
                <button>Sneakers</button>
            </div>


        </div>

        <div  class="shop-container">
            <div class="box">
                <a href="Product_Detail.html"> <img src="teste5-removebg-preview.png" alt="">
                <h2>Classics</h2>
                <span>3200.00 Mzn</span>
                <i class='bx bx-cart-alt'></i></a>
            </div>

            <div class="box">
                <img src="teste2-removebg-preview.png" alt="">
                <h2>Nike Therma</h2>
                <span>2000.00 Mzn</span>
                <a href=""><i class='bx bx-cart-alt'></i></a>
            </div>

            <div class="box">
                <img src="teste4-removebg-preview.png" alt="">
                <h2>Nike Therma</h2>
                <span>2590.00 Mzn</span>
                <a href=""><i class='bx bx-cart-alt'></i></a>
            </div>

            <div class="box">
                <img src="teste3-removebg-preview.png" alt="">  <h2>Sneakers Crocs</h2>
                <span>2000.00 Mzn</span>
                <a href=""><i class='bx bx-cart-alt'></i></a>
            </div>
        </div>

        <!---SECCAO 4-->
        <div class="Container-extended">
         <div>
           
         </div>
          
         <div>
         <p>Novas sandalias classicas</p>
         <p style="font-size: 20pt; font-weight: bold; font-style: normal;">Mostre a verdadeira cor</p>
         <p style="text-decoration: underline;">Compre os classicos</p>
         </div>
        </div>

        <!---CATALOGO 1-->
        <div class="main">
            <div class="text">
                <h1></h1>
                <p>
                   
                </p>
            </div>
            <header>
                <h1>Novas Tendências</h1>
                <p>
                    <span>&#139;</span>
                    <span>&#155;</span>
                </p>
            </header>
            <section>
                <div class="product">
                    <picture>
                        <img src="teste2-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Cunhas</b><br>
                            <small></small>
                        </p>
                        <samp>4500 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste4-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Classicos</b><br>
                            <small>Novo</small>
                        </p>
                        <samp>5000 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste6-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Plataformas</b><br>
                            <small>Exclusivo</small>
                        </p>
                        <samp>6800 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste5-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Botas crocs</b><br>
                            <small>Novo</small>
                        </p>
                        <samp>700 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste4-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Classicos</b><br>
                            <small>Novo</small>
                        </p>
                        <samp>2600 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste3-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Sandalias</b><br>
                            <small>Exclusivo</small>
                        </p>
                        <samp>4200 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste2-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Cunhas</b><br>
                            <small>New arrival</small>
                        </p>
                        <samp>2350 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste1-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Plataformas</b><br>
                            <small>Novo</small>
                        </p>
                        <samp>3500 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste3-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Sandalias crocs</b><br>
                            <small>Novo</small>
                        </p>
                        <samp>5700 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste2-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Tamancos</b><br>
                            <small>Exclusivos</small>
                        </p>
                        <samp>3000 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste6-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Sandalias</b><br>
                            <small>Novo</small>
                        </p>
                        <samp>1200 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
                <div class="product">
                    <picture>
                        <img src="teste4-removebg-preview.png" alt="">
                    </picture>
                    <div class="detail">
                        <p>
                            <b>Classicos</b><br>
                            <small>Novo</small>
                        </p>
                        <samp>450 Mzn</samp>
                    </div>
                    <div class="button">
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                    </div>
                </div>
            </section>
        </div>

    </article>
</main>



<section class="footer">
  
    <div class="footer-box">
        <a href="" class="logo">
            <h1>CROCS<sup style="font-size: 0.5rem; ">TM</sup> </h1>
        </a>
        <div class="social">
            <div class="media">
                <a href=""><i class='bx bxl-facebook' ></i></a>
                <a href=""><i class='bx bxl-instagram' ></i></a>
                <a href=""><i class='bx bxl-whatsapp' ></i></a>
            </div>

           <p style="text-align: left; text-decoration: underline; font-size: 1.1rem;"><b>Inscreva-se Newsletter</b></p>
           <p style="width: 330px; font-size: 0.8rem;">Ao se inscrever você concorda com os termos de uso e politica de privacidade.</p>
            <div class="newsletter">
                <form action="">
                    <input type="email" name="" id="" placeholder="Enter your email..." class="email-box" required>
                    <input type="submit" value="Subscribe" class="btn">
                </form> 
            </div>

          <div class="contacts">
            <h3>Contacts</h3>
            <p><b>Email</b>: suporte@crocsmz.co.mz</p> <br>
            <p><b>Contacto do suporte</b>: +258 821234567</p>
            <p>Seg-Sex: 7:00H - 21:00H</p>
            <p>Sab-Dom: 8:15H - 20:00H</p>
          </div> 
        </div>
    </div>
    <div class="footer-box">
        <h3>Pages</h3>
        <a href="#home">Home</a>
        <a href="#featured">Featured</a>
        <a href="#shop">Shop</a>
        <a href="#new">New</a>
        <a href="#home">Home</a>
        <a href="#featured">Featured</a>
        <a href="#shop">Shop</a>
        <a href="#new">New</a>
        

    </div>
    <div class="footer-box">
        <h3>Legal</h3>
        <a href="#">Privacy Policy</a>
        <a href="#">Refund Policy</a>
        <a href="#">Terms of Use</a>
        <a href="#">Disclaimer</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Refund Policy</a>
        <a href="#">Terms of Use</a>
        <a href="#">Disclaimer</a>
        

    </div>
        <div class="footer-box">
            <h3>Branches</h3>
            <p>United States</p>
            <p>Japan</p>
            <p>Germany</p>
            <p>Mozambique</p>
            <p>United States</p>
            <p>Japan</p>
            <p>Germany</p>
            <p>Mozambique</p>
        </div>

       
</section>
<!--- COpyright-->
<div class="copyright">
    <p style="color: #fff; font-weight: bold;"><strong style="color: #06bd80;">&#169; Crocs Mozambique</strong> 2024 All Right Reserved.</p>
</div>
</body>
</html>