<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Croc´s Mozambique</title>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">


    <!--MENU-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="menu.css">
    <link rel="shortcut icon" href="Crocs_ico.ico" type="image / x-icon">
</head>

<body>
    <!-- MENU-->
    <nav>
        <div class="wrapper">
            <div class="logo">
                <a href="#">
                    <span
                        style="color:rgb(0, 0, 0); font-family: Passion One, sans-serif; font-weight: 400; font-style: normal; font-size: 25pt;">Crocs</span>
                    <img src="logo-1.png" alt="">
                </a>
            </div>

            <div class="Componentes_2">
               
                <input type="search" class="btn_pesquisa" placeholder="Search" style="margin: 5px;">
                <a href=""><input type="button" class="btn_login" value="Login" style="margin: 5px;"></a>
            </div>


            <input type="radio" name="slide" id="menu-btn">
            <input type="radio" name="slide" id="cancel-btn">
            <ul class="nav-links">
                <label for="cancel-btn" class="btn cancel-btn"><i class='bx bx-x' name=""></i></label>
                <li><a href="index.html" class="active">Home</a></li>
                <li>
                    <a href="" class="desktop-item">New Arrival</a>
                    <input type="checkbox" id="showDrop">
                    
                    <label for="showDrop" class="mobile-item">New Arrival</label>
                    <ul class="drop-menu">
                        <li><a href="Sobre_Nos.html">Men</a></li>
                        <li><a href="">Women</a></li>
                        <li><a href="">Kids</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="desktop-item">Categories</a>
                    <input type="checkbox" id="showMega">

                    <label for="showMega" class="mobile-item">Produtos +</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="crocs_logo.webp" alt="">
                            </div>
                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="">All in Ones</a></li>
                                    <li><a href="">Cameras de Vigilancia</a></li>
                                    <li><a href="ecommerce/computador/computador.html">Computadores</a></li>
                                    <li><a href="">Ups</a></li>
                                    <li><a href="">Pastas</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="">Estabilizadores</a></li>
                                    <li><a href="">Servidores</a></li>
                                    <li><a href="">Consolas de jogo</a></li>
                                    <li><a href="">Celulares</a></li>
                                    <li><a href="">Acessorios</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="">Tablets</a></li>
                                    <li><a href="">POS AIO</a></li>
                                    <li><a href="">Scanners</a></li>
                                    <li><a href="">Caixas de Dinheiro</a></li>
                                    <li><a href="">Entre Outros</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li><a href="">Contact us</a></li>
                <li><div class="mega-box">
                    <div class="content">
                        <div class="row">
                            <img src="crocs_logo.webp" alt="">
                        </div>
                       

                        <div class="row">
                            <header></header>
                            <ul class="mega-links">
                               
                                <li><a href="">Celularessss</a></li>
                                <li><a href="">Celulares</a></li>
                            </ul>
                        </div>

                        
                    </div>
                </div></li>

                <!-- Mover para dentro da ul -->
                <div class="Componentes">
                    <a href=""><input type="button" class="btn_carrinho"></a>
                    <a href=""><input type="button" class="btn_favorito"></a>
                    <a href=""><input type="button" class="btn_login" value="Login"></a>
                    <input type="search" class="btn_pesquisa" placeholder="Search">
                </div>
                <!-- Mover para dentro da ul -->
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class='bx bx-menu'></i></label>
        </div>
    </nav>

</body>

</html>