*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



nav{
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 1;
    height: 70px;
    line-height: 65px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    top: 0;
}

nav .wrapper{
    position: relative;
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .logo a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .nav-links .active{
    color: #e48b17;
}

.wrapper .logo a img{
    width: 200%;
}


.wrapper .nav-links{
    display: inline-flex;
}

.nav-links{
    list-style: none;
}
.nav-links li a{
    color: #7f7474;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 15px;
    transition: all 0.33s ease;
    border-radius: 5px;
}

.nav-links li a:hover{
    background: #eceaea;
    color: #ff9100;
}

.nav-links .drop-menu{
    background: #ffffff;
    width: 180px;
    top: 65px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.nav-links li:hover  .drop-menu,
.nav-links li:hover  .mega-box
{
    opacity: 1;
    top: 65px;
    visibility: visible;
    transition: all 0.3s ease;
}
.drop-menu{
    list-style: none;
}

.mega-links{
    list-style: none;
}
.drop-menu li a{
    color: black;
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 500;
    border-radius: 0;
}

.mega-box{
    position: absolute;
    top: 80px;
    background: #ffffff;
    width: 100%;
    left: 0;
padding: 0 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    border-radius: 22px;
    box-shadow: 1px 1px 1px rgb(235, 233, 233);
}



.mega-box .content{
    background-color: #ffffff;
    padding: 25px 20x;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 200px;
    
}

.content .row{
    width: calc(25% - 40px);
    line-height: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content .row img{
    width: 220px;
    border-radius: 10px;
    height: 90%;
    object-fit: cover;
}

.content .row header{
    color: #525050;
    font-size: 20px;
    font-weight: 600;
    margin-right: 130px;
}

.content .row .mega-links{
    margin-left: -40px;
    
}

.content .row .mega-links a{
   color: #605959;
   font-size: 0.9rem;
}




.content .row .mega-links button{
    background-color:#74B708;
    border-radius: 10px;
    padding: 7px;
    width: 100px;
    color: white;
    font-style: italic;
    font-weight: 600;
    border: none;
    margin-left: 70px;
}

.content .row .mega-links a:hover{
    color: #070707;
    background: #ccc;
 }

.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}
.row .mega-links li{
    padding: 0 20px;
}
.row .mega-links li a{
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover{
    color: #f2f2f2;
}

.nav-links .mobile-item{
    display: none;
}

.wrapper .btn{
    color: #fff;
    font-size: 20px;
    display: none;
    cursor: pointer;
}


.wrapper .btn.cancel-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}

.btn.menu-btn{
    color: #a2691e;
    font-size: 1.7em;
}


/* BOTOES COM ICONES NO MENU*/




/* Estilo para os botões com ícones usando SVG */


.Componentes{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 30px;
}
.Componentes_2{
    display: none;
}


.btn_carrinho {
    background-image: url('shopping-cart-solid.svg');
    background-repeat: no-repeat;
    background-size: 20px; 
    background-position:center;
    padding: 10px; 
    width: 70px;
    border-radius: 30px;
    border-style: none;
    border-width: 1.5px;
    border-color: #666967;
    background-color: #e48b1700;
    border-bottom: none;
    margin: 5px;
    top: 10px;
}

.btn_favorito {
    background-image: url('heart-regular.svg');
    background-repeat: no-repeat;
    background-size: 20px; 
    background-position:center;
    padding: 10px; 
    width: 70px;
    border-radius: 30px;
    border-style: none;
    border-color: #666967;
    background-color: #e48b1700;
    border-bottom: none;
    margin: 2px;
    border-width: 1.5px;
}
.btn_login {
    background-repeat: no-repeat;
    background-size: 20px; 
    background-position:center;
    padding: 10px; 
    width: 70px;
    border-radius: 30px;
    border-style: none;
    border-color: #666967;
    background-color: #0c1a01;
    border-bottom: none;
    color: white;
    margin: 2px;
    border-width: 1.5px;
}


.btn_pesquisa{
    background-image: url('search-solid.svg');
    background-repeat: no-repeat;
    background-size: 15px; 
    background-position: calc(100% - 20px) center;
    padding: 10px; 
    width: 160px;
    border-radius: 30px;
    border-style: solid;
    border-color: #bdbebd;
    background-color: #e48b1700;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 5px;
    border-width: 1.5px;
}



/* RESPONSIVIDADE NO MOBILE*/

@media screen and (max-width: 840px){

    .wrapper .btn{
        display: block;
    }
    .wrapper .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        background-color: #242526;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        box-shadow: 0 15px rgba(238, 45, 45, 0.15);
        transition: all 0.3s ease;   
    }  

    #menu-btn:checked ~ .nav-links{
        left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
        display: none;
    }


    .nav-links::-webkit-scrollbar{
        width: 0;
    }

    .nav-links li{
        margin: 15px 10px;
    }
 .nav-links a{
        padding-left: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop-menu{
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.4s ease;
    }

    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
        max-height: 100%;
    }
    .nav-links .drop-menu li {
        margin: 0;
    }
    .nav-links .drop-menu li a{
        font-size: 18px;
        border-radius: 5px;
    }

    .nav-links .desktop-item{
        display: none;
    }
    .nav-links .mobile-item{
        display: block;
        font-size: 18px;
        color: #f2f2f2;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover{
        background: #3a3b3c;
    }
    .mega-box{
        position: static;
        top: 65px;
        width: 100%;
        opacity:1;
        visibility: visible;
        padding: 0 20px;    
        max-height: 0px;
        overflow: hidden;
        transition: all 0.4s ease;
    }
    
    .mega-box .content{
        background-color: #043c74;
        flex-direction: column;
        padding: 20px 20px 0  20px;

    }
    .mega-box .content .row{
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.09);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
        border-top: 0px;
    }
    .content .row .mega-links{
        border-left: 0px;
        padding-left: 15px;

    }

    .row .mega-links li{
        margin: 0;
    }

    .content .row header{
        font-size: 19px;

    }

    .Componentes .btn_pesquisa{
        display: none;
    }

    .Componentes_2{
        display: flex;
        align-items: center;
        justify-items: center;
        margin-bottom: 5px;
        padding: 20px;
    }

    

   

    .btn_pesquisa{
        background-size: 15px; 
        background-position: calc(100% - 20px) center;
        padding: 10px; 
        width: 180px;
        border-radius: 30px;
        border-style: solid;
        border-color: #bdbebd;
        background-color: #04b35300;
        border-top: none;
        border-left: none;
        border-right: none;
        margin: 1px;
        border-width: 1.5px;
    }
}

@media screen and (max-width: 470px){
    .btn_pesquisa{
        width: 80px;
    }
}

@media screen and (max-width: 390px){
    .Componentes_2  .btn_login{
        display: none;
    }
}

@media screen and (max-width: 290px){
    .btn_pesquisa{
       width:  51px;
    }
    
    .Componentes .btn_pesquisa{
        display: block;
    }

     .Componentes .btn_pesquisa{
        display: block;
    }
    
}

/*.wrapper input{
    display: block;
}*/
.wrapper #menu-btn{
    display: none;
}
.wrapper #cancel-btn{
    display: none;
}

.wrapper #showDrop{
    display: none;
}
.wrapper #showMega{
    display: none;
}

