<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <!---DETALHES DO PRODUTO-->
    <link rel="stylesheet" href="Product_Detail.css">

       <!--MENU-->
       <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
       <link rel="stylesheet" href="menu.css">
   
</head>
<body>
     <!-- MENU-->
    <nav>
        <div class="wrapper">
            <div class="logo">
                <a href="Home.html">
                    <span
                        style="color:rgb(0, 0, 0);  font-weight: bold; font-size: 25pt;">Crocs<sup style="font-size: 0.5rem;">TM</sup></span>
                    <img src="logo-1.png" alt="">
                </a>
            </div>

            <div class="Componentes_2">

                <input type="search" class="btn_pesquisa" placeholder="Search" style="margin: 5px;">
                <a href=""><input type="button" class="btn_login" value="Login" style="margin: 5px;"></a>
            </div>


            <input type="radio" name="slide" id="menu-btn">
            <input type="radio" name="slide" id="cancel-btn">
            <ul class="nav-links">
                <label for="cancel-btn" class="btn cancel-btn"><i class='bx bx-x' name=""></i></label>
                <li><a href="Home.html" class="active">Home</a></li>
                <li>
                    <a href="" class="desktop-item">New Arrival</a>
                    <input type="checkbox" id="showDrop">
                    
                    <label for="showDrop" class="mobile-item">New Arrival</label>
                    <ul class="drop-menu">
                        <li><a href="Sobre_Nos.html">Men</a></li>
                        <li><a href="">Women</a></li>
                        <li><a href="">Kids</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="desktop-item">Categories</a>
                    <input type="checkbox" id="showMega">

                    <label for="showMega" class="mobile-item">Produtos +</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="crocs_logo.webp" alt="">
                            </div>
                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="">All in Ones</a></li>
                                    <li><a href="">Cameras de Vigilancia</a></li>
                                    <li><a href="ecommerce/computador/computador.html">Computadores</a></li>
                                    <li><a href="">Ups</a></li>
                                    <li><a href="">Pastas</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="">Estabilizadores</a></li>
                                    <li><a href="">Servidores</a></li>
                                    <li><a href="">Consolas de jogo</a></li>
                                    <li><a href="">Celulares</a></li>
                                    <li><a href="">Acessorios</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="">Tablets</a></li>
                                    <li><a href="">POS AIO</a></li>
                                    <li><a href="">Scanners</a></li>
                                    <li><a href="">Caixas de Dinheiro</a></li>
                                    <li><a href="">Entre Outros</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <!---------------------------------------------------------->
                <li>
                    <a href="" class="desktop-item">Categories 2</a>
                    <input type="checkbox" id="showMega">

                    <label for="showMega" class="mobile-item">Testes</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="crocs_logo.webp" alt="">
                            </div>
                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="">All in Ones</a></li>
                                    <li><a href="">Cameras de Vigilancia</a></li>
                                    <li><a href="">Computadores</a></li>
                                    <li><a href="">Ups</a></li>
                                    <li><a href="">Pastas</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <img src="pose1.webp" alt="">
                                    <li><a href="">Estabilizadores </a></li>
                                    
                                   
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <img src="pose2.webp" alt="">
                                    <li><a href="">Tablets</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li> 

                
               

                <!-- Mover para dentro da ul -->
                <div class="Componentes">
                    <a href=""><input type="button" class="btn_carrinho"></a>
                    <a href=""><input type="button" class="btn_favorito"></a>
                    <a href=""><input type="button" class="btn_login" value="Login"></a>
                    <input type="search" class="btn_pesquisa" placeholder="Search">
                </div>
                <!-- Mover para dentro da ul -->
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class='bx bx-menu'></i></label>
        </div>
    </nav>



    <section>
       <div class="container">
        <div class="left">
            <div class="main_image">
                <img src="rascunho0.webp" alt="" class="slide">
            </div>
            <div class="option flex">
                <img src="rascunho0.webp" onclick="img('rascunho0.webp')">
                <img src="rascunho1.webp" onclick="img('rascunho1.webp')">
                <img src="rascunho2.webp" onclick="img('rascunho2.webp')">
                <img src="rascunho3.webp" onclick="img('rascunho3.webp')"> 
              
            </div>
        </div>

        <div class="right">
<h1>Classics Crocs for Kids</h1>

<div class="size">
    <p>Cor: Amarelo</p> <br>
    <p>Preço: 1200,00 Mzn</p> <br>
    <p style="text-decoration: underline;">Selecione o tamanho:</p> <br>
    <button class="btn_gender">HOMEM</button>
    <button class="btn_gender">MULHER</button>
</div>
<div class="tamanhos">
    <button class="btn_size">7</button>
    <button class="btn_size">10</button>
    <button class="btn_size">15</button>
    <button class="btn_size">16</button>
    <button class="btn_size">19</button>
    <button class="btn_size">23</button>
    <button class="btn_size">25</button>
    <button class="btn_size">30</button>
    <button class="btn_size">31</button>
    <button class="btn_size">34</button>
    <button class="btn_size">36</button>
</div>

<h4>Descrição: </h4>
<p style="text-align: justify; max-width: 500px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum dolor dignissimos tempore ut ducimus consectetur, hic officia quae doloribus perspiciatis ipsum dolore sit reprehenderit culpa excepturi aperiam accusantium eum rerum?</p> <br>

<button class="btn_cart"> Adicionar ao carrinho</button>

<!--
<h5>Color</h5>
<div class="color flex">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>

<h5>number</h5>
<div class="add flex1">
<span>-</span>
<span>1</span>
<span>+</span>
</div>

<button>Add to cart</b utton>
        </div>
--->
       </div>

    </section>

    <script>
        function img(src){
            document.querySelector(".slide").src = src;
        }

        function change(change){
            const line = document.querySelector('.home');
            line.style.background = change;
        }
    </script>
</body>
</html>