<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <!---DETALHES DO PRODUTO-->
    <link rel="stylesheet" href="Product_Detail.css">

       <!--MENU-->
       <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
       <link rel="stylesheet" href="menu.css">

       <!--Catalogo-->
       <link rel="stylesheet" href="catalogo.css">
       <script src="catalogo.js"></script>


       <!---Footer-->
       <link rel="stylesheet" href="footer.css">
   
</head>
<body>
     <!-- MENU-->
     <nav>
        <div class="wrapper">
            <div class="logo">
                <a href="Home.html">
                    <span
                        style="color:rgb(0, 0, 0);  font-weight: bold; font-size: 25pt;">Crocs<sup style="font-size: 0.5rem;">TM</sup></span>
                    <img src="logo-1.png" alt="">
                </a>
            </div>

            <div class="Componentes_2">

                <input type="search" class="btn_pesquisa" placeholder="Search" style="margin: 5px;">
                <a href="login.html"><input type="button" class="btn_login" value="Login" style="margin: 5px;"></a>
            </div>


            <input type="radio" name="slide" id="menu-btn">
            <input type="radio" name="slide" id="cancel-btn">
            <ul class="nav-links">
                <label for="cancel-btn" class="btn cancel-btn"><i class='bx bx-x' name=""></i></label>
                <li><a href="Home.html" class="active">Home</a></li>
                <li>
                    <a href="" class="desktop-item">Novo</a>
                    <input type="checkbox" id="showDrop">
                    
                    <label for="showDrop" class="mobile-item">Novo</label>
                    <ul class="drop-menu">
                        <li><a href="Sobre_Nos.html">Homem</a></li>
                        <li><a href="">Mulher</a></li>
                        <li><a href="">Crianças</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="desktop-item">Homem</a>
                    <input type="checkbox" id="showMega">

                    <label for="showMega" class="mobile-item">Produtos +</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="crocs_logo.webp" alt="">
                            </div>
                            <div class="row">
                                <header>Por Tendência</header>
                                <ul class="mega-links">
                                    <li><a href="">Novos clássicos</a></li>
                                    <li><a href="">Impressão camuflada</a></li>
                                    <li><a href="ecommerce/computador/computador.html">Equipes esportivas</a></li>
                                    <li><a href="">Aventuras ao ar livre</a></li>
                                    <li><a href="">Recuperação</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header>Clássicos</header>
                                <ul class="mega-links">
                                    <li><a href="">Jibbitz</a></li>
                                    <li><a href="">Grande</a></li>
                                    <li><a href="">Alto (14+)</a></li>
                                    <li><a href="">Tênis</a></li>
                                    <li><a href="">Botas</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                   <img src="pose3.webp" alt="">
                                   <button>Ver Oferta</button>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <!---------------------------------------------------------->
                <li>
                    <a href="" class="desktop-item">Mulher</a>
                    <input type="checkbox" id="showMega">

                    <label for="showMega" class="mobile-item">Testes</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="crocs_logo.webp" alt="">
                            </div>
                            <div class="row">
                                <header>Estilo</header>
                                <ul class="mega-links">
                                 
                                    <li><a href="">Tamancos</a></li>
                                    <li><a href="">Sandálias</a></li>
                                    <li><a href="">Sandálias de dedo</a></li>
                                    <li><a href="">Plataforma e Cunhas</a></li>
                                    <li><a href="">Apartamentos</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <a href=""><img src="pose1.webp" alt=""></a>
                                    
                                   <button>Ver Oferta</button>
                                </ul>
                            </div>

                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <a href=""><img src="pose2.webp" alt=""></a>
                                    <button>Ver Oferta</button>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li> 

                <li><a href="loja.html">Loja</a></li>

                
               

                <!-- Mover para dentro da ul -->
                <div class="Componentes">
                    <a href=""><input type="button" class="btn_carrinho"></a>
                    <a href=""><input type="button" class="btn_favorito"></a>
                    <a href="login.html"><input type="button" class="btn_login" value="Login"></a>
                    <input type="search" class="btn_pesquisa" placeholder="Search">
                </div>
                <!-- Mover para dentro da ul -->
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class='bx bx-menu'></i></label>
        </div>
    </nav>


    <section>
       <div class="container">
        <div class="left">
            <div class="main_image">
                <img src="rascunho0.webp" alt="" class="slide">
            </div>
            <div class="option flex">
                <img src="rascunho0.webp" onclick="img('rascunho0.webp')">
                <img src="rascunho1.webp" onclick="img('rascunho1.webp')">
                <img src="rascunho2.webp" onclick="img('rascunho2.webp')">
                <img src="rascunho3.webp" onclick="img('rascunho3.webp')"> 
              
            </div>
        </div>

        <div class="right">
<h1>Crocs Classicos para crianças</h1>

<div class="size">
    <p>Cor: Amarelo</p> <br>
    <p>Preço: 1200,00 Mzn</p> <br>
    <p style="text-decoration: underline;">Selecione o tamanho:</p> <br>
    <button class="btn_gender">HOMEM</button>
    <button class="btn_gender">MULHER</button>
</div>
<div class="tamanhos">
    <button class="btn_size">7</button>
    <button class="btn_size">10</button>
    <button class="btn_size">15</button>
    <button class="btn_size">16</button>
    <button class="btn_size">19</button>
    <button class="btn_size">23</button>
    <button class="btn_size">25</button>
    <button class="btn_size">30</button>
    <button class="btn_size">31</button>
    <button class="btn_size">34</button>
    <button class="btn_size">36</button>
</div>

<h4>Descrição: </h4>
<p style="text-align: justify; max-width: 500px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum dolor dignissimos tempore ut ducimus consectetur, hic officia quae doloribus perspiciatis ipsum dolore sit reprehenderit culpa excepturi aperiam accusantium eum rerum?</p> <br>

<button class="btn_cart"> Adicionar ao carrinho</button>

<!--
<h5>Color</h5>
<div class="color flex">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>

<h5>number</h5>
<div class="add flex1">
<span>-</span>
<span>1</span>
<span>+</span>
</div>

<button>Add to cart</b utton>
        </div>
--->
       </div>

    </section>

    <!---CATALOGO 1-->
    <div class="main">
        <div class="text">
            <h1></h1>
            <p>
               
            </p>
        </div>
        <header>
            <h1>Novas Tendências</h1>
            <p>
                <span>&#139;</span>
                <span>&#155;</span>
            </p>
        </header>
        <section>
            <div class="product">
                <picture>
                    <img src="teste2-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Cunhas</b><br>
                        <small></small>
                    </p>
                    <samp>4500 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste4-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Classicos</b><br>
                        <small>Novo</small>
                    </p>
                    <samp>5000 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste6-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Plataformas</b><br>
                        <small>Exclusivo</small>
                    </p>
                    <samp>6800 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste5-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Botas crocs</b><br>
                        <small>Novo</small>
                    </p>
                    <samp>700 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste4-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Classicos</b><br>
                        <small>Novo</small>
                    </p>
                    <samp>2600 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste3-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Sandalias</b><br>
                        <small>Exclusivo</small>
                    </p>
                    <samp>4200 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste2-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Cunhas</b><br>
                        <small>New arrival</small>
                    </p>
                    <samp>2350 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste1-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Plataformas</b><br>
                        <small>Novo</small>
                    </p>
                    <samp>3500 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste3-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Sandalias crocs</b><br>
                        <small>Novo</small>
                    </p>
                    <samp>5700 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste2-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Tamancos</b><br>
                        <small>Exclusivos</small>
                    </p>
                    <samp>3000 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste6-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Sandalias</b><br>
                        <small>Novo</small>
                    </p>
                    <samp>1200 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
            <div class="product">
                <picture>
                    <img src="teste4-removebg-preview.png" alt="">
                </picture>
                <div class="detail">
                    <p>
                        <b>Classicos</b><br>
                        <small>Novo</small>
                    </p>
                    <samp>450 Mzn</samp>
                </div>
                <div class="button">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <a href="#"><img src="shopping-cart-solid.svg" alt=""></a>
                </div>
            </div>
        </section>
    </div>

    

    <section class="footer">
  
        <div class="footer-box">
            <a href="" class="logo">
                <h1>CROCS<sup style="font-size: 0.5rem; ">TM</sup> </h1>
            </a>
            <div class="social">
                <div class="media">
                    <a href=""><i class='bx bxl-facebook' ></i></a>
                    <a href=""><i class='bx bxl-instagram' ></i></a>
                    <a href=""><i class='bx bxl-whatsapp' ></i></a>
                </div>
    
               <p style="text-align: left; text-decoration: underline; font-size: 1.1rem;"><b>Inscreva-se Newsletter</b></p>
               <p style="width: 330px; font-size: 0.8rem;">Ao se inscrever você concorda com os termos de uso e politica de privacidade.</p>
                <div class="newsletter">
                    <form action="">
                        <input type="email" name="" id="" placeholder="Enter your email..." class="email-box" required>
                        <input type="submit" value="Subscribe" class="btn">
                    </form> 
                </div>
    
              <div class="contacts">
                <h3>Contacts</h3>
                <p><b>Email</b>: suporte@crocsmz.co.mz</p> <br>
                <p><b>Contacto do suporte</b>: +258 821234567</p>
                <p>Seg-Sex: 7:00H - 21:00H</p>
                <p>Sab-Dom: 8:15H - 20:00H</p>
              </div> 
            </div>
        </div>
        <div class="footer-box">
            <h3>Pages</h3>
            <a href="#home">Home</a>
            <a href="#featured">Featured</a>
            <a href="#shop">Shop</a>
            <a href="#new">New</a>
            <a href="#home">Home</a>
            <a href="#featured">Featured</a>
            <a href="#shop">Shop</a>
            <a href="#new">New</a>
            
    
        </div>
        <div class="footer-box">
            <h3>Legal</h3>
            <a href="#">Privacy Policy</a>
            <a href="#">Refund Policy</a>
            <a href="#">Terms of Use</a>
            <a href="#">Disclaimer</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Refund Policy</a>
            <a href="#">Terms of Use</a>
            <a href="#">Disclaimer</a>
            
    
        </div>
            <div class="footer-box">
                <h3>Branches</h3>
                <p>United States</p>
                <p>Japan</p>
                <p>Germany</p>
                <p>Mozambique</p>
                <p>United States</p>
                <p>Japan</p>
                <p>Germany</p>
                <p>Mozambique</p>
            </div>
    
           
    </section>
    <!--- COpyright-->
<div class="copyright">
    <p style="color: #fff; font-weight: bold;"><strong style="color: #06bd80;">&#169; Crocs Mozambique</strong> 2024 All Right Reserved.</p>
</div>


    <script>
        function img(src){
            document.querySelector(".slide").src = src;
        }

        function change(change){
            const line = document.querySelector('.home');
            line.style.background = change;
        }
    </script>
</body>
</html>