<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="slide.css">
    <script src="slide.js"></script>
</head>
<body>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="teste8.png" alt="">
            </div>
            <div class="slide">
                <img src="teste9.png" alt="">
            </div>
            <div class="slide">
                <img src="teste3-removebg-preview.png" alt="">
            </div>
            <div class="slide">
                <img src="teste4-removebg-preview.png" alt="">
            </div>
            <div class="slide">
                <img src="teste5-removebg-preview.png" alt="">
            </div>
            <div class="slide">
                <img src="teste6-removebg-preview.png" alt="">
            </div>

            <!--- as mesmas imagens-->
            <div class="slide">
                <img src="teste8.png" alt="">
            </div>
            <div class="slide">
                <img src="teste9.png" alt="">
            </div>
            <div class="slide">
                <img src="teste3-removebg-preview.png" alt="">
            </div>
            <div class="slide">
                <img src="teste4-removebg-preview.png" alt="">
            </div>
            <div class="slide">
                <img src="teste5-removebg-preview.png" alt="">
            </div>
            <div class="slide">
                <img src="teste6-removebg-preview.png" alt="">
            </div>
            
        </div>
    </div>
</body>
</html>