.body_carrinho{
    background-color: #e0c6c1;
    height: 100vh;
    width: 100vw;
}

.container-carrinho {
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px #fd846cb7;
    width: 90%;
    margin: auto;
    height: 90vh;
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
}

.container-carrinho h2{
    color: #712f22;
    margin: 10px;
    text-align: center;
    margin-left: 30px;
    padding: 10px;
}

h2 {
    color: #333;
}

.produto {
    display: inline-block;
    /* Permite que os produtos sejam exibidos lado a lado */
    margin: 0 10px;
    /* Adiciona um espaço entre os produtos */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: left;
    /* Alinha o texto à esquerda dentro dos produtos */
    
}

.produto img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    border-radius: 5px;
    
}


.button {
    margin: 10px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #0d967f;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.button:hover {
    background-color: #00ffd5;
    color: #333;
}

.editar {
    margin-right: 10px;
}

.excluir {
    background-color: #dc3545;
}


.total-carrinho {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    display: inline;
    
}

.total-carrinho h3{
    margin-bottom: 10px;
}