


.container_catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(51, 50, 48);
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.card {
    width: 250px;
    margin: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.313);
    transition: box-shadow 0.3s ease;
    background-color: rgb(255, 255, 255);
}

.card:hover {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.45);
}

.card img {
    width: 60%;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: auto;
    display: block;
    background-color: yellow;
}

.info {
    margin-top: 10px;
    text-align: center;
}

.nome {
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
}

.preco {
    font-size: 17px;
    color: #ff5722;
    /* laranja */
}

.botao {
    display: block;
    width: 25%;
    padding: 9px;
    margin: auto;
    margin-top: 10px;
    text-align: left;
    background-color: #ffffff;
    color: #1e1c1c;
    text-decoration: none;
    border-radius:25px;
    font-weight: bold;
    border: 1px solid black;
    transition: background-color 0.3s ease;
    background-image: url(../img/shopping-cart-solid.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: calc(100% - 12px) center;
}

.botao:hover {
    background-color: #f44336;
}

.main{
    height: 100vh; 
    width:100%; 
}
