/* Base styles */
.nav {
    width: 100%;
    background: rgb(31, 28, 28);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 3px;
}

.container_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.logo a {
    font-size: 25px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu a:hover {
    background: #333;
    color: #fff;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search button {
    padding: 7px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.container-perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fd846c;
    border-radius: 10px;
    padding: 2px;
}

.icon-perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-perfil {
    font-size: 18px;
    color: #333;
}
.logout-perfil{
    display: flex;
}

.logout-perfil a {
    color: #fd846c;
    text-decoration: none;
    font-weight: bold;
    background-color: #333;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 3px;
}

#menu-bar {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 991px) {
    .container_menu {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .menu a {
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
    }

    .search {
        width: 100%;
        margin-top: 10px;
    }

  

    #menu-bar:checked ~ .menu {
        display: flex;
    }

    .menu-icon {
        display: block;
        color: white;
        position: absolute;
        right: 0;
        margin-right: 20px;
    }
}


@media(max-width:767px){

}