.container_clientes {
    width: 80%;
    margin: 0 auto;
}

.container_clientes h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container_clientes_tabela table {
    width: 100%;
    border-collapse: collapse;
}

.container_clientes_tabela th,
.container_clientes_tabela td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.container_clientes_tabela th {
    background-color: #f2f2f2;
}

.container_clientes_tabela tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.container_clientes_tabela tbody tr:hover {
    background-color: #f2f2f2;
}