.heading{
    text-align: center;
    margin-bottom: 2rem;
}

.heading span{
    border-bottom: 3px solid var(--main--color);
}
.featured-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 3.5rem;
    margin: auto;
    width: 900px;
    padding: 10px;
}
.featured-container .box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background: rgba(202, 204, 205, 0.258);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 1px 2px 4x rgb(15 54 55 / 10%);
    width: 350px;
}

.featured-container .box img{
    width: 180px;
    object-fit: contain;
    object-position: center;
}

.featured-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.featured-container .box .text h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.featured-container .box  .text a{
    font-size: 0.9rem;
    color: var(--text-color);
}

@media screen and (max-width: 860px){
    .featured-container{
        display: flex;
        flex-direction: column;
       margin: auto;
       align-items: center;
        justify-items: center;
        gap: 4rem;
        margin: auto;
        max-width: 600px;
       
    }

    .featured-container .box{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .featured-container{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
       margin: auto;
        gap: 2.5rem;
        margin: auto;
        max-width: 500px;
   
        padding: 10px;
    }


    .featured-container .box{
    width: 90%;
}

}

@media screen and (max-width: 512px){
    .featured-container{
       
        max-width: 400px;
        
       
    }

    .featured-container .box{
        width: 100%;
    }
}

@media screen and (max-width: 436px){
    .featured-container{
       
        max-width: 370px;
       
       
    }

    .featured-container .box{
        width: 90%;
    }
}

@media screen and (max-width: 390px){
    .featured-container{
       
        max-width: 240px;
       
       
    }

    .featured-container .box{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}