*{
    margin:0;
    padding: 0;
}

.containerproject{
    position: relative;
    background-color: aqua;
}

.containerproject .slide-container .slide{
    min-height: 30vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproject .slide-container .slide .contentproject{
    flex: 1 1 350px;
    animation: slideContent .5s normal .5s both;
   
}

@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }    
}

.containerproject .slide-container .slide .contentproject h3{
    font-size: 35px;
    color: #f99946;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.521);
}

.containerproject .slide-container .slide .contentproject p{
    font-size: 16px;
    color: #fff;
    background-color: #2726263a;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Noto sans', sans-serif;
    width: 40%;
    height: 10%;
}

.containerproject .slide-container .slide .contentproject .btnproj{
    margin-top: 10px;
    background: #F5821F;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 15px;
    text-decoration: none;
}

.containerproject .slide-container .slide .contentproject .btnproj:hover{
    background-color: #fd9f4d;
    color: #fff;
}

.containerproject .slide-container{
    display: none;
}

.containerproject .slide-container.active{
    display: block;
}

.containerproject .slide-container:nth-child(1) .slide{
    background: url(img_slide/hack-813290_1280.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
}

.containerproject .slide-container:nth-child(2) .slide{
    background: url(img_slide/hacker-3342696_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
}

.containerproject .slide-container:nth-child(3) .slide{
    background: url(img_slide/jackdaw-4415083_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
}

.containerproject  #prev,
.containerproject #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}


.containerproject  #prev:hover,
.containerproject #next:hover{
    background-color: #ee7bd3;
}

.containerproject #prev{
    left: 20px;

}

.containerproject #next{
    right: 20px;
}


@media(max-width: 500px){
    .containerproject #prev{
        top: 60%;
        left: 0;
    }

    .containerproject #next{
        top: 60%;
        right: 0;
    }

    .containerproject .slide-container .slide .contentproject p{
        font-size: 16px;
        color: #fff;
        font-family: 'Noto sans', sans-serif;
        width: 70%;
        height: 10%;
    }

    /* Secção 1 elementos */
    .Descricao {
        background-color: #F5821F;
    }
}
