.criar_Conta_Logar{
    display: flex;
    justify-content: center;
    margin-top:5%;
}

.card{
    display: inline-block;
    width: 80%;
    padding:20px;
    margin:1%;
    border:1px solid #FF2978;
    border-radius:10px;
    cursor:pointer;
    margin-bottom:100px;
}
